<!DOCTYPE html> 
<html><head>
<title>Deepspeech Messaging</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class='container p-2'>
    <h2>In Development</h2>
    <div>
        <p>
            In Development. It is running a flask-based server to record and replay Redis messages.
        </p>
    </div>

    <div class='container p-2'>
    <div class='card m-2'>
        <div class='card-header'>
            Playback Channels
        </div>
        <div class='card body'>
            <a href="#" class="btn btn-primary">Refresh</a>
        </div>
    </div>
        
    <div class='card m-2'>
        <div class='card-header'>
            Active Channels
        </div>
        <div class='card body'>
            <a href="#" class="btn btn-primary">Refresh</a>
            {% if sub_channel == None and len(sub_channel) %}
                <div class="table-responsive-sm ">
                    <table class="table table-hover table-striped">
                        <thead><tr>
                            <th>ID</th>
                            <th>Seen</th>
                            <th>Last</th>
                            <th>Unsubscribe</th>
                        </tr></thead>
                        <tbody>
                            {% for idx in range(len(sub_channel)) %}
                            <tr>
                                <td>{{ sub_channel[idx]["channel"] }}</td>
                                <td>{{ sub_channel[idx]["count"] }}</td>
                                <td>{{ sub_channel[idx]["last"] }}</td>
                                <td><a href="#" class="btn btn-danger">Unsubscribe</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="card-text">No active channel information was available.</p>
            {% endif %}
        </div>
    </div>
    </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
